body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}


footer {
    height: 5vh;
    width: 100vw;
    background-color: rgb(241, 209, 209);
}

header {
    height: 10vh;
    width: 100vw;
    background-color: rgb(241, 209, 209);
}



/* main display area */

main {
    min-height: 85vh;
    max-height: 85vh;
    width: 100vw;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-snap-type: y proximity;
}

main::-webkit-scrollbar {
    display: none;
}

section {
    border: 1px solid black;
    scroll-snap-align: start;
    height: 85vh;
    width: 100%;
}



/* stuff for nav bars */

.nav {
    height: 10vh;
    width: 100%;
    display: flex;
    position: sticky;
    top: 0;
    bottom: 0;
}

.nav-button {
    height: 100%;
    width: 25%;
    border: 1px solid black;
    background-color: rgba(190, 110, 110, 0.5);
    box-sizing: border-box;
}

.first {
    margin-left: 0;
}

.second {
    margin-left: 25%;
}

.third {
    margin-left: 50%;
}

.fourth {
    margin-left: 75%;
}