body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}


footer {
    height: 5vh;
    width: 100vw;
    background-color: rgb(241, 209, 209);
}

header {
    height: 10vh;
    width: 100vw;
    background-color: rgb(241, 209, 209);
}



/* main display area */

main {
    min-height: 85vh;
    max-height: 85vh;
    width: 100vw;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

main::-webkit-scrollbar {
    display: none;
}

section {
    border: 1px solid black;
}

.nav {
    height: 10vh;
    width: 100%;
    display: flex;
    position: sticky;
    top: 0;
    bottom: 0;
    background-color: rgba(190, 110, 110, 0.5);
}

.opener {
    height: 75vh;
    width: 100%;
    position: relative;
}

.main-sections {
    height: 75vh;
    width: 100%;
    position: relative;
}

.section4 {
    height: 75vh;
}

/* stuff for nav bars */

.nav {
    height: 10vh;
    width: 100%;
    display: flex;
    position: sticky;
    top: 0;
    bottom: 0;
    background-color: rgba(190, 110, 110, 0.5);
}